<!DOCTYPE html>
<html lang="en">
<head>
  <title>Haiku.js</title>
  <meta charset="utf-8" />
  <!-- other meta, CSS, and custom tags -->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans|Yeseva+One&display=swap" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="blossom-wrapper"></div>
  <div id="video-placeholder" class="lofi"></div>
  <script src="https://www.youtube.com/iframe_api"></script>

  <section id="hero">
    <div class="hero-content">
      <h1><span id="hero-title">Haiku.js</span></h1>
      <p id="hero-subtitle">Sometimes, coding in Javascript can be stressful, we get it.
          <br> Promises, Prototypes, JSON, who knows what they mean (not us).
          <br> We here at <i><b style="font-size:20px">Haiku.js</b></i> think we can make it better with some poetry.
          <br>
          <br> Preferably in three lines of five, seven, and five.</p>
    </div>
  </section>

  <section id="editor">
    <h2 class="text-center"><span>Editor</span></h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 editor input">
          <textarea>
// Input
function potato(input, seeds, dude){
   if(condition){
       doSomething()
   }
   return input+seeds+dude;
}</textarea>
        </div>
        <div class="col-lg-6 editor output">
          <textarea></textarea>
        </div>
      </div>
      <br>
      <div class="text-center">
        <button class="button button-primary text-center" id="convert_button">Convert</button>
      </div>
    </div>
  </section>

  <section id="footer">
    <footer>
      <div class="container">
        <p>Made at HackTX by Chris, Levi, Sriram and Suchir</p>
      </div>
    </footer>
  </section>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="scripts.js"></script>
</body>
</html>
