/* ==================
  Variables
  ================== */
$primary-color: #FDD8E7;
$secondary-color: #283031;
$third-color: #CBF2E7;
$fourth-color: #FBF6D4;

/* ==================
  Global
  ================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h1 span, h2 span {
  font-family: 'Yeseva One', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

* {
  font-family: 'Merriweather Sans', sans-serif;
}

button.button {
  border-radius: 20px;
  bottom: 0px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  height: 40px;
  margin: 3px 10px;
  padding: 2px 20px;
  position: relative;
  text-transform: uppercase;
  transition: all .2s;
  -webkit-transition: all .2s;
  background: #fff;

  &.button-primary {
    border: 3px solid $secondary-color;
    color: $secondary-color;

    &:hover {
      background: $fourth-color;
      color: $secondary-color;
    }
  }

  &.button-secondary {
    border: 3px solid $secondary-color;
		background: $secondary-color;
    color: $third-color;

  }

  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    bottom: 2px;
  }
}

.lofi {
  position: absolute;
}

/* ==================
  Hero
  ================== */

#hero {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  -webkit-transition:all 1s ease-in;
  -moz-transition:all 1s ease-in;
  -o-transition:all 1s ease-in;
  -ms-transition:all 1s ease-in;
  transition:all 1s ease-in;

	#hero-title {
		transition: 1s color;
	}

	#hero-subtitle {
		transition: 1s color;
	}

  .hero-content {
    position: absolute;
    bottom: 50px;
    left: 50px;

    h1 {
      font-size: 50px;
      margin: 15px 0;

      span {
        background: $secondary-color;
        color: $primary-color;
        padding: 5px 15px 5px 10px;
        font-style: italic;
      }
    }

    p {
      max-width: 600px;
      background: $secondary-color;
      color: $primary-color;
      padding: 10px;
      margin-right: 25px
    }
  }
}

/* ==================
  Editor
  ================== */

#editor {
  h2 {
    margin: 30px 0;
    span {
      background: $fourth-color;
      color: $secondary-color;
      padding: 3px 7px;
    }
  }

  .editor {
    textarea {
      width: 100%;
      height: 70vh;
      padding: 10px;
      font-family: monospace;
    }

    &.input textarea {
      background-color: $secondary-color;
      color: $primary-color;
    }

    &.output textarea {
      background-color: $third-color;
    }
  }
}

#import_form {
  input {
    width: 500px;
    background: $secondary-color;
    border: 5px solid $third-color;
    color: $third-color;
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px
  }
}

/* ==================
  Footer
  ================== */
#footer {
  footer {
    background-color: $secondary-color;
    color: $third-color;
    padding: 25px;
    margin-top: 25px;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

.blossom {
  --scale-x: 0;
  --scale-y: 0;
	background: url('./images/blossom.png') no-repeat;
	background-size: cover;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - .5rem);
  border-radius: 50%;
	z-index: 1000;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vmin;
  transform:
    translate(
      calc( var(--x) * 1px ),
      calc( var(--y) * 1px )
    )
    translate(-50%, -50%);
  pointer-events: none;
  animation:
    treat-enter .1s ease-in backwards,
    treat-exit 300ms linear
    calc( (var(--lifetime, 3000) * 1ms) - 300ms)
    forwards;

  @keyframes treat-enter {
    from {
      opacity: 0;
    }
  }
  @keyframes treat-exit {
    to {
      opacity: 0;
    }
  }

  .inner {
    animation: inner-rotate .6s linear infinite;
    transform: rotate(
      calc(-1turn * var(--direction) )
    );
    @keyframes inner-rotate {
      to {
        transform: none;
      }
    }
  }
}

.button-wrapper {
	position: absolute;
}

.lofi {
  position: absolute;
}

.level {
	display: flex;
	width: 100%;
	justify-content: center;
}
